<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.hibernate.eclipse.launch.ConsoleConfigurationLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="GWAP"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GWAP"/>
<stringAttribute key="org.hibernate.eclipse.launch.CONFIGURATION_FACTORY" value="JPA"/>
<listAttribute key="org.hibernate.eclipse.launch.FILE_MAPPINGS"/>
<stringAttribute key="org.hibernate.eclipse.launch.PROPERTY_FILE" value="/GWAP/hibernate-console.properties"/>
<stringAttribute key="org.hibernate.eclipse.launchDIALECT" value="org.hibernate.dialect.PostgreSQLDialect"/>
</launchConfiguration>
