
/* =BASIC HTML
-----------------------------------------------------------------------------*/

a img 					{ border:none; }

body 					{ font-size:12px; margin:0px; }

div.info 				{ font-size:1.2em; }

h1						{ margin-top:0px; font-family:Arial, Verdana, Tahoma, sans-serif; font-size:18px; color:#0e1e79; }
h2						{ font-size:12pt; font-weight:bold; }


table.radio 					{ border:0; }
table.radio td 					{ padding:0 2px; }
table.radio input[type=radio] 	{ vertical-align:bottom; }

td.action 						{ text-align:center; width:8em; white-space:nowrap; }
td.action a 					{ padding-left:1px; padding-right:1px; }

ul.bullets 						{ list-style:square; }
ul.bullets li 					{ padding-bottom:2px; }


/* =FORMS
-----------------------------------------------------------------------------*/

input[type=submit], 
input[type=button] 								{ font-size:11px; margin:5px 5px 5px 0; cursor:pointer; }
input[type=text], 
input[type=password], 
textarea 										{ font-size:12px; padding-left:1px; }
 


/* = OTHER
-----------------------------------------------------------------------------*/

.actionButtons 			{ padding-left:1px; }
.actionButtons select 	{ margin:5px 5px 5px 0; vertical-align:bottom; }

.rich-table 			{ width: 100%; }
.rich-stglpanel-body 	{ overflow: auto; } 


select 					{ font-size:13px; }

.tableControl 						{ text-align: right; }
.tableControl, .actionButtons 		{ width:100%; }
.tableControl a 					{ padding-left:10px; }
.tableControl input[type=submit], 
.tableControl input[type=button], 
.tableControl select 				{ margin:5px 0 5px 5px; }

/* I don't know why this is necessary, but the select is off by a pixel on the top and is padding too much on the left */
.tableControl select 				{ margin-left:2px; position:relative; top:1px; }


.body 							{ padding:30px; }


/* the specificity here is necessary to override the defaults */
/*
.rich-panel .rich-panel-header,
.rich-stglpanel .rich-stglpanel-header {
	padding: 2px 3px;
}*/

.rich-panel input[type=submit], 
.rich-panel input[type=button],
.rich-tabpanel input[type=submit], 
.rich-tabpanel input[type=button] 				{ margin-bottom:0; }


.rich-toolbar-item a 							{ text-decoration:none; }
.rich-toolbar-item a:hover, 
.rich-ddmenu-label-select 						{ text-decoration:underline; }

.rich-toolbar-item .rich-menu-item a:hover 		{ text-decoration:none; }

.rich-datalist 									{ list-style:square; margin:6px 0 1px 0; padding-left:18px; }
.rich-list-item 								{ padding-bottom:4px; }
